.border-left-width {
  border-left-width: 0;
}

.pokemon-list-group-item {
  position: relative;
}
.pokemon-list-group-item .typeColor {
  position: absolute;
  width: 8px;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--borderColor);
}

.overlay-parent {
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgb(240, 248, 255, 0.5);
  inset: 0;
  z-index: 1;
    display: grid;
    place-items: center;
}

.pokemon-sprite {
  height: 96px;
  aspect-ratio: 1 / 1;
}

:host {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
